<div  class="spinner-border text-primary" role="status" *ngIf="dataLoaded==false">
    <span class="visually-hidden">Loading...</span>
  </div>
  {{dataLoaded}}
<table class="table table">
    <thead>
      <td>Id</td>
      <td>user Id</td>
      <td>title</td>
      <td>completed</td>
    </thead>
    <tbody>
  
    <tr *ngFor="let todo of todos">
        <td>{{todo.id}}</td>
        <td>{{todo.userId}}</td>
        <td>{{todo.title}}</td>
        <td>{{todo.completed}}</td>
    </tr>
</tbody>
</table>


