<div  class="spinner-border text-primary" role="status" *ngIf="dataLoaded==false">
    <span class="visually-hidden">Loading...</span>
  </div> 
 
<table class="table table">
    <thead>
     
      <td>Name</td>     
    </thead>
    <tbody>
      <tr [class]="getAllCategoryClass()" (click)="setDeleteCurrentBrand()" routerLink="/brand">
        <td>Tüm Markalar</td>
      </tr>
    <tr [class]="getCurrentCategoryClass(brand)"
        routerLink="/brand/model/{{brand.id}}"
       (click)="setCurrentBrand(brand)" 
       *ngFor="let brand of brands" >
      
        <td>{{brand.name |uppercase}}</td>     
    </tr>
</tbody>
</table>

<h5 *ngIf="currentBrand">{{currentBrand.name}} sEÇTİNİZ</h5>

